.center {
  text-align: center;
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
}

.yellow_bar {
  background-color: #cbb024;
  height: 10px;
}

.background {
  background: rgb(0, 0, 0, 0.7);
  padding-top: 20px;
}

.img {
  background-image: url("../../public/photo4.jpg");
  background-size: cover;
  background-position: center center;
  margin-left: 10%;

  width: 35%;
  height: 50vw;
  left: 20%;
  opacity: 0.6;
}

.contact {
  margin-top: 10%;
  float: right;
  width: 50%;
  background: rgb(250, 250, 250, 0.7);
  padding: 50px;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 10px 0px 0px 10px;
}

.contact h2 {
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2rem;
}

.contact_information {
  display: flex;
}

.contact_information li {
  display: flex;
  margin: 20px;
  align-items: center;
}

.contact_information li div {
  display: flex;
  flex-direction: column;
}

.contact_information a {
  font-size: 1.2rem;
  margin-left: 20px;
}

.gray {
  opacity: 0.5;
}

.contact_information img {
  height: 50px;
  width: 50px;
}


