.container {
  background-color: rgba(0, 0, 0, 0.85);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.centered li {
  margin-right: 2rem;
  color: rgb(211, 211, 211);
}


