.container {
  background-color: rgba(0, 0, 0, 0.85);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 30%;
  height: auto;
  margin-bottom: 0.4vw;
}

.centered {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.2vw;
}

.centered li {
  color: rgb(211, 211, 211);
  padding: 3vmin;
}


