.container {
  display: flex;
}

.sidebar {
  flex: 1;
}

.rectangle {
  width: 150%;
  height: auto;
  background-color: white;
}

.carouselContainer {
  display: flex;
  justify-content: center;
}

.main_content {
  flex: 2;
  background-image: url("../../public/photo2.jpg");
  background-size: cover;
  background-position: center center;
  padding: 50px;
  height: auto;
}

.title {
  color: #cbb024;
  margin: 20px 0px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.yellow_bar {
  background-color: #cbb024;
  height: 10px;
}
