

.container {
  display: flex;
}

.sidebar {
  flex: 1;
}

.rectangle {
  width: 33.33%;
  height: 100%;
  background-color: white;
}

.main_content {
  flex: 2;
  background-image: url("../../public/photo2.jpg");
  background-size: cover;
  background-position: center center;
  padding: 50px;
  height: auto;
}

.title {
    color: #cbb024;
    margin: 20px 50px;
    font-size: 3rem;
}